/**
 * @file Styles mcwe.
 */

#mcwe_simple_process_panel {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 228px;
  height: 500px;
  padding: 10px;
  z-index: 100000;
  display: none;
  border: 4px solid #424242;
  border-radius: 10px;
  color: white;
  background-color: #424242;
}

#mcwe_view_elements {
  height: 200px;
  overflow-y: scroll;
  color: white;
}

#mcwe_simple_object_select {
  height: 200px;
  overflow-y: scroll;
}

#all_mcwe_simple_styles,
#add_inline_mcwe_simple_styles {
  overflow-y: scroll;
  height: 330px;
}

/* process element */
.mouse_over {
  background-color: #ccffff;
  outline: 1px solid black;
}

.get_element {
  outline: 1px solid red;
}

.mouse_over_li {
  outline: 1px solid red;
}

/* process element */
#mcwe_simple_datebase {
  display: none;
}

#buttoms {
  width: 20px;
}

#buttoms input {
  padding: 2px;
}

/*panel styles*/
#mcwe_simple_add_mcwe_simple_styles_panel {
  display: none;
  width: 400px;
  height: 400px;
  background-color: #424242;
  padding: 5px;
  position: fixed;
  top: 30%;
  left: 40%;
  border: 4px solid #424242;
  border-radius: 10px;
}

#mcwe_simple_add_mcwe_simple_styles_panel #top_panel {
  position: relative;
  padding-top: 3px;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #424242;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgb(14, 13, 13);
}

#top_panel ul li {
  display: inline !important;
  padding: 3px !important;
  margin: 5px !important;
  border: 1px solid #0d0e0e !important;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.914em;
  line-height: 1.4;
}
#mcwe_simple_add_mcwe_simple_styles_panel #mcwe_simple_sections_body {
  width: 100%;
  height: 350px;
  /* outline: 1px solid blue;*/
}

#mcwe_simple_add_mcwe_simple_styles_panel #mcwe_simple_sections_body > div {
  width: 100%;
  display: none;
  height: 330px;
  overflow-y: scroll;
}

#mcwe_simple_add_mcwe_simple_styles_panel #mcwe_simple_sections_body #add_inline_mcwe_simple_styles {
  display: block;
}

#close_panel {
  position: absolute;
  top: 2px;
  right: 2px;
}

#mcwe_simple_add_mcwe_simple_styles_panel #mcwe_simple_sections_body p {
  margin: 2px;
}

.textboxproprietati {
  width: 90px;
  margin: 3px;
}

.add_style_single {
  cursor: pointer;
}
.process {
  text-decoration: underline;
}
/*panel styles end*/

/*save panel*/
#mcwe_simple_save_style_panel {
  display: none;
  width: 400px;
  height: 200px;
  padding: 15px;
  position: fixed;
  top: 30%;
  left: 40%;
  border: 4px solid #424242;
  border-radius: 10px;
  color: white;
  background-color: #424242;
}
/*save panel*/

/*size control*/
#up_control_mcwe,
#down_control_mcwe {
  font-size: 8px;
  padding: 2px;
}
#list_control_mcwe {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#controls_size_mcwe {
  display: inline-block;
  height: 24px;
  position: relative;
  text-align: left;
  width: 25px;
}
/*size control end*/

/*autocomplate*/
#autocomplate_mcwe {
  display: block;
  max-height: 130px;
  overflow-y: scroll;
  left: 0;
  position: absolute;
  top: 0px;
  width: 200px;
  background-color: #332f2f;
  border-radius: 10px;
  padding: 5px;
}

#autocomplate_mcwe_second {
  display: block;
  height: 0px;
  position: relative;
  text-align: left;
  width: 0px;
}

.mcwe_simple_items_mawe_autocomplate {
  border-bottom: 1px solid white;
}
/*autocomplate end*/

/*control*/
#mcwe_see_control_content,
#mcwe_style_control {
  width: 600px;
  height: 400px;
  padding: 10px;
  position: fixed;
  top: 30%;
  left: 30%;
  overflow-y: scroll;
  display: none;
  border: 4px solid #424242;
  border-radius: 10px;
  color: white;
  background-color: #424242;
}

#close_control_save_mcwe_simple_styles {
  position: absolute;
  top: 0px;
  right: 4px;
}
/*end control8/

/*design mcwe*/
#mcwe_add_mcwe_simple_styles_div input[type=text] {
  width: 160px;
  margin: 0px;
}
#mcwe_add_mcwe_simple_styles_div input[type=checkbox] {
  margin: 7px;
}
#mcwe_add_mcwe_simple_styles_div tr,
#mcwe_add_mcwe_simple_styles_div td {
  padding: 0px;
}
#mcwe_simple_add_mcwe_simple_styles_panel #mcwe_simple_sections_body > div #general_style_mcwe_table input[type=text] {
  width: 157px;
}
#mcwe_simple_add_mcwe_simple_styles_panel #mcwe_simple_sections_body > div #general_style_mcwe_table td#propriety_table_mcwe_td {
  width: 143px;
}
#mcwe_simple_process_panel input[type=button] {
  padding: 2px !important;
  margin: 1px 1px !important;
  border: 1px solid black !important;
  border-radius: 6px !important;
  box-shadow: 1px 1px rgb(14, 13, 13) !important;
  background-color: #424242 !important;;
  outline: none !important;
  font-family: Tahoma !important;
  color: white !important;
  position: static !important;
  background-image: none !important;
  font-weight: normal !important;
  text-shadow: none !important;
  line-height: normal !important;
  -webkit-box-sizing: none !important;
  box-sizing: none !important;
}

#mcwe_simple_object_select input[type=button] {
  width: 55px !important;
  padding: 1px !important;
  color: white !important;
  font-size: 11px !important;
  margin: 1px 1px !important;
  border: 1px solid black !important;
  box-shadow: 1px 1px rgb(14, 13, 13) !important;
  border-radius: 6px !important;
  background-color: #424242 !important;
  font-family: Tahoma !important;
  position: static !important;
  background-image: none !important;
  font-weight: normal !important;
  text-shadow: none !important;
  -webkit-box-sizing: none !important;
  box-sizing: none !important;
  line-height: normal !important;
}

#mcwe_simple_process_panel input[type=button]:hover {
  background-color: black !important;
}

#control_bottoms_mcwe input[type=button] {
  width: 96px !important;
  margin: 1px 1px !important;
  font-family: Tahoma !important;
  border: 1px solid black !important;
  border-radius: 6px !important;
  color: white !important;
  box-shadow: 1px 1px rgb(14, 13, 13) !important;
  background-color: #424242 !important;
  position: static !important;
  background-image: none !important;
  font-weight: normal !important;
  text-shadow: none !important;
  line-height: normal !important;
  -webkit-box-sizing: none !important;
  box-sizing: none !important;
}

#mcwe_simple_process_panel a {
  color: white !important;
}

#mcwe_simple_process_panel a:hover {
  text-decoration: underline !important;
}

#mcwe_general_mcwe_simple_styles_pnl {
  background-color: black !important;
}

#mcwe_div tr td,
#mcwe_div tr th {
  padding: 4px 9px;
  border: 1px solid #fff !important;
  text-align: left !important;
}

#mcwe_div table {
  border: 0 !important;
  border-spacing: 0 !important;
  font-size: 0.857em !important;
  margin: 10px 0 !important;
  width: 100% !important;
  border-collapse: collapse !important;
}

#mcwe_div input[type=text] {
  margin: 0px !important;
  padding: 4px !important;
}
/*design mcwe*/

/*general panel*/
#mcwe_general_mcwe_simple_styles_pnl td {
  width: 10px;
  padding: 2px !important;
  text-align: center !important;
}

#mcwe_general_mcwe_simple_styles_pnl td a {
  width: 10px;
}

.select_font_mcwe {
  padding: 0px;
  width: 56px;
  margin: 0px;
  height: 22px;
  overflow: hidden;
  word-break: break-word;
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
}

.fonct_size_mcwe {
  width: 25px;
  height: 21px;
  margin: 0px;
}
/*general panel end*/

#mcwe_add_mcwe_simple_styles_div tr,
#mcwe_add_mcwe_simple_styles_div td {
  padding: 0px !important;
}

#mcwe_div ul {
  margin: 0px !important;
}

#mcwe_diva {
  z-index: 10000;
  position: relative;
}
